<!DOCTYPE html>
<html>
<head>
	<title>Add Employee Information</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">
		<h1 style="color: DodgerBlue">Employee Database</h1>
		<body bgcolor="lightgrey">

			<form action="/index" autocomplete="on" method = "POST" enctype="multipart/form-data">
				<button type="submit" formaction="/getemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GET EMPLOYEE INFORMATION</button><br><br>
		  		Name:<br> <input style="height:25px;font-size:14pt; color:grey;" type="text" name="name" autofocus size="40"><br><br>
		  		Interest:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="interest" ><br><br>
		  		Event Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="event_name"><br><br>
		  		Duration:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="duration"><br><br>
		  		Venue:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="venue"><br><br>		  		
				Date:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="date"><br><br>
				<!-- Image: <input type=file name="emp_image_file" style="height:25px;font-size:14pt;color:grey;"> <br><br>-->		  		
		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Generate</button>
			</form>

			<a href="/about">About Us</a>
			<!-- <div id="button"><a href="newpage.html">Content Generation Page</a></div> -->
			<div id="button"><a href="/trial">Content Generation Page</a></div>
		</body>

	</font>
</center>
</html>
